@import "../../styles/all.scss";

.nav {
    position: sticky;
    left: 0;
    top: 0;
    height: auto;
    width: 100vw;
    background-color: $color-main;

    @include md-min {
        height: 100vh;
        width: 15vh;
    }
}

.nav__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    padding: 0 20px;


    @include md-min {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 0;
        height: 100%;

    }
}

.svg-inline--fa {
    text-decoration: none;
    background-color: transparent;
    color: $color-bg;
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 20px 0;

    @include md-min {
        width: 20px;
        height: 20px;
    }
}

.fa-bowl-food {
    color: $color-dark-blue;
    width: 45px;
    height: 45px;
}

.svg-inline--fa {
    .active & {
        color: $color-secondary;
    }
}