@import "../../styles/all.scss";

.nav {
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
    width: 15vh;
    background-color: $color-main;
}

.nav__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.svg-inline--fa {
    background-color: transparent;
    color: $color-bg;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 20px 0;
}

.fa-bowl-food {
    color: $color-dark-blue;
    width: 45px;
    height: 45px;
}

.svg-inline--fa {
    .active & {
        color: $color-secondary;
    }
}