.main-panel {
    @include content-width()
}

.food-panel {
    @include content-width();

    @include sm-min {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @include md-min {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            ". ."
            ". .";
    }
}

.foodTile {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    margin: 20px 0;

    @include md-min {
        flex-direction: row;
    }
}

.foodTile__wrapper-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include md-min {
        padding-left: 20px;
        flex-direction: flex-start;
        align-items: flex-start;
    }
}

.foodTile__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    object-fit: cover;
    border: 1px solid $color-primary;

    @include md-min {
        width: 150px;
        height: 150px;
    }
}

.fa-cart-shopping {
    color: $color-main;
    width: 30px;
    height: 30px;

    .home__top & {
        padding: 5px 0;
    }
}

.foodTile__title {
    margin-top: 20px;
    font-weight: 500;
    color: $color-primary;
    font-size: 15px;

    @include md-min {
        font-size: 20px;
    }
}

.foodTile__price {
    margin: 5px 0;
    font-weight: 600;
}

.home__basket--price {
    color: $color-bg;
    font-weight: bold;
    font-size: 12px;
}