@import "../../styles/all.scss";

.order__adnotation--text {
    padding: 0 5px;
}

.order__item {
    font-size: 12px;
}

.order__price,
.order__item--text {
    font-weight: 600;
}


.order__item--text {
    width: 100px;

}

.order__price {
    margin-top: 50px;
}

.order__modification--buttons,
.order__price,
.order__item,
.order__modification {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.svg-inline--fa.fa-plus,
.svg-inline--fa.fa-minus {
    color: $color-dark-blue;
    height: 20px;
    border-radius: 50%;
    width: 20px;
}

.order__info {
    background-color: #ffcc99;
    padding: 5px 10px;
    font-size: 10px;
    font-style: italic;
    margin: 10px 0;
}

.order__modification--num {
    padding: 0 15px;
}

.order__price--price {
    color: $color-dark-blue;
    padding: 0 10px;
}

.order__price--button {
    background-color: transparent;
    border: 2px solid $color-dark-blue;
    color: $color-dark-blue;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto;
    width: 100%;

    &:hover {
        background-color: $color-primary;
        color: $color-bg;
        border: 2px solid $color-primary;
        cursor: pointer;
    }
}

.order__modification {
    margin-left: auto;
}

.order__modification--text {
    padding: 0 10px;
}

svg.fa-trash {
    color: $color-dark-blue;
    padding: 0 20px;
}